{% trans %}
<p>Bu platforma yer alan tüm materyaller aksi belirtilmedikçe, <a href="https://izka.org.tr/"><b><u>İzmir Kalkınma Ajansı</u></b></a> tarafından <a href="https://creativecommons.org/licenses/by/4.0/deed.tr"><b><u>CC BY 4.0 uluslararası lisansı</u></b></a> ile lisanslanmıştır. Bu lisans çerçevesinde, atıf vermek kaydıyla ticari amaç da dahil olmak üzere verileri kopyalayabilir, düzenleyebilir, dağıtabilirsiniz. Lisans detayları aşağıda verilmektedir.

<p><b>Lisans Kapsamı:</b></p>
<li>Veri ve materyaller, uygun atıf verildiği sürece ticari ve ticari olmayan amaçlarla kullanılabilir.</li>
<li>Veriler, kullanıcı tarafından istenilen şekilde uyarlanabilir ve yeniden dağıtılabilir.</li>
<br>

<p><b>Yükümlülükler:</b></p>
<li>Kullanılan verilerin kaynağı, açık bir atıf bildirimi ile belirtilmelidir.</li>
<li>Mümkünse, kullanılan veriler için lisans bağlantısı sağlanmalıdır.</li>
<br>

<p><b>Atıf Bildirimi:</b></p>
<li>Verilerin kullanıldığı herhangi bir ürün, çalışma veya uygulamada, atıf bildirimi aracılığıyla İzmir Kalkınma Ajansı'nı kaynak olarak göstermek önemlidir.</li>
<br>

<p><b>Atıf Bildirimi Önerisi:</b></p>
<li>Atıf bildirimi sağlanamadığı durumlarda, "Atıf 4.0 Uluslararası (CC BY 4.0) kapsamında lisanslanan kamu sektörü bilgilerini içerir." ifadesi kullanılmalıdır. Birden fazla veri sağlayıcı kaynağı kullanılıyorsa, ilgili kaynağa ait bildirimi içeren bir bağlantı eklenmelidir.</li>
<br>

<p><b>Sorumluluk Sınırlaması:</b></p>
<li>Portal üzerinde yer alan verilerdeki hatalar, eksiklikler veya veri sağlayıcılar tarafından sağlanan verilerin sürekliliği konusunda herhangi bir garanti verilmemektedir.</li>
<li>Veri kullanımı veya bu verilerin neden olduğu kayıplardan veya zararlardan <b>İzmir Kalkınma Ajansı</b> veya veri sağlayıcıları sorumlu tutulamaz.</li>
<br>
{% endtrans %}