{% extends "page.html" %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}
{%- block header %}
    {% include "header.html" %}
    <div id="title" class="package-title container-fluid" style="background-image:url(&quot;/base/images/theme/background_photo.jpg&quot;);color: #fff;">
      <div class="background-overlay">
      <div class="restricted-max-width">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div id="title-container" class="col-xs-10 col-md-6 text-left">
      <h1 style="margin-left: 200px;">Veri Paydaşları</h1>
      </div>
      <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="col-xs-12" style="text-align: center;margin-top: 20px;font-size: 16px;">
      <p class="stat" style="font-size: 30px;font-weight: bolder;">{{page.item_count}}<span style="font-size: 18px"> Veri Paydaşı</span></p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
  {% endblock -%}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), named_route=group_type+'.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Organization'), named_route=group_type+'.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  
  <!-- Veri Paydaşları Açıklaması -->
  <div class="organizations-info" style="margin-bottom: 30px;">
    {% snippet "organization/snippets/helper.html" %}
  </div>
  
  <!-- Orijinal çalışan search form - sadece sorting seçenekleri değiştirildi -->
  {% block organizations_search_form %}
    {% snippet 'snippets/search_form.html', 
       form_id='organization-search-form', 
       type='organization', 
       query=q, 
       sorting_selected=sort_by_selected, 
       count=page.item_count, 
       placeholder='Veri paydaşı ismi ile arayın...', 
       show_empty=request.params, 
       no_bottom_border=true if page.items, 
       sorting=[
           ('İsim (A-Z)', 'title asc'), 
           ('İsim (Z-A)', 'title desc'),
           ('En Çok Veri Seti', 'package_count desc'),
           ('En Az Veri Seti', 'package_count asc')
       ]
    %}
  {% endblock %}
  
  {% block organizations_list %}
    {% if page.items or request.params %}
      {% if page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  
  {% block page_pagination %}
    {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  <!-- Boş bırakıldı -->
{% endblock %}

<style>
/* En yüksek öncelik için body de ekliyoruz */
body div.row.wrapper:before {
  content: none !important;
  display: none !important;
}
div.row.wrapper:before{display:none!important;content:none!important}

.wrapper:before {
    content: '';
    display: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    border-right: 1px solid #ddd;
    z-index: 1;
}

div.row.wrapper:before {
  display: none !important;   /* görünmez yap */
  content: none !important;   /* varsa içeriği temizle */
}

@media (min-width: 768px) {
    .col-sm-9 {
         width: 100% !important; 
    }
}

body.page-organization aside.secondary.col-sm-3 {
  display: none !important;
}

.organizations-info .module {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.media-grid {
    padding-left: 0;
    margin: 0;
    list-style: none;
    min-height: 240px !important;
    padding-top: 15px;
    background: none;
    border: 1px solid #ddd;
    border-width: 1px 0;
}
</style>