{# Renders the login form #}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

<form action="{{ action }}" method="post">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login',
                label=_("Username"),
                id='field-login',
                value="",
                error=username_error,
                classes=["control-medium","w-100"]) }}

  {{ form.input('password',
                label=_("Password"),
                id='field-password',
                type="password",
                value="",
                error=password_error,
                classes=["control-medium","w-100"]) }}

  {{ form.checkbox('remember',
                   label=_("Remember me"),
                   id='field-remember',
                   checked=true,
                   value="63072000") }}

  <div class="form-actions">
    <button class="btn btn-primary w-100" type="submit">{{ _('Login') }}</button>
  </div>
</form>
