{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '.read', id=group.name) %}

<div class="futuristic-card">
  <div class="card-content">
    <div class="futuristic-card-header">
      <h3 class="futuristic-card-title">{{ group.display_name | truncate(50) }}</h3>
      {# Görünür "Kaldır" butonu #}
      {% if group.user_member %}
        <button name="group_remove.{{ group.id }}" value="{{ _('Çıkar') }}" type="submit" class="futuristic-card-remove-btn" title="{{ _('Veri setini bu kategoriden çıkar') }}">
          <i class="fa fa-times"></i>
        </button>
      {% endif %}
    </div>

    <a href="{{ url }}" class="futuristic-card-image-link" title="{{ _('{name} kategorisini görüntüle').format(name=group.display_name|default('')) }}">
      <div class="futuristic-card-image-container">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name|default('') }}" class="futuristic-card-image">
      </div>
    </a>
    
    {% if group.description %}
      <div class="futuristic-card-description">
        {{ h.markdown_extract(group.description, extract_length=120) }}
      </div>
    {% endif %}
  </div>
</div>